body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: sans-serif;
    background: linear-gradient(rgba(85, 139, 146, 0.6), rgba(51, 158, 168, 0.6));
    background-color: #a1bee3;
    
    
}

.navbar{
    background-color: #fff;
}



.login-box {
    margin-top: 90px;
    height: 430px;
    width: 400px;
    position: absolute;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(25px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all ease .35s;
    text-align: center;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

}

.login-box-r {
    margin-top: 90px;
    height: 530px;
    width: 400px;
    position: absolute;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257, 257, 257, .4);
    backdrop-filter: blur(25px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all ease .35s;
    text-align: center;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
/* Agregar un estilo para los campos de tipo password */
.login-box-r input[type="password"] {
    margin-bottom: 20px;
    display: grid;
    flex-direction: column;
}

.login-box .avatar, .login-box-r .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1, .login-box-r h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label, .login-box-r label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input, .login-box-r input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box-r input[type="text"],
.login-box-r input[type="password"],
.login-box-r input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

#submit {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    background: #a792d7;
    color: #000000;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}

#submit:hover{
    cursor: pointer;
    background: #dea0ce;
    color: #000;

}

.boton{
    text-align: center;
}