body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    
}

.login-box {
    width: 400px;
    height: 400px;
    background: #80d1e5;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box-r {
    width: 400px;
    height: 560px;
    background: #80d1e5;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login-box .avatar, .login-box-r .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1, .login-box-r h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label, .login-box-r label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input, .login-box-r input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box-r input[type="text"],
.login-box-r input[type="password"],
.login-box-r input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

#submit {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    background: #a792d7;
    color: #000000;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
}

#submit:hover{
    cursor: pointer;
    background: #dea0ce;
    color: #000;

}

.boton{
    text-align: center;
}