<!DOCTYPE html>
<html>
<head> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/base.css">
    
</head>
<body>
    {% extends 'base.html'%}
    {%block content%}
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center">
            <form>
                <div class="mb-2">
                    <h1>Calculadora promedio semestral </h1>
                    <h1 id="answer"></h1>
                    
                    Nota 1<input type="text" id="num1">
                    <br>
                    <br>
                    Nota 2<input type="text" id="num2">
                    <br>
                    <br>
                    Nota 3<input type="text" id="num3">
                    <br>
                    <br>
                    Nota 4<input type="text" id="num4">
                    <br>
                    <br>
                    Nota 5<input type="text" id="num5">
                    <br>
                    <br>
                    <button onclick="sum()">Calculate</button>
                    
                    <script>
                    
                    function calculate()
                    {
                        var field1=document.getElementById("num1").value;
                        var field2=document.getElementById("num2").value;
                        var field3=document.getElementById("num3").value;
                        var field4=document.getElementById("num4").value;
                        var field5=document.getElementById("num5").value;
                    
                        var result=(parseFloat(field1)+parseFloat(field2)+parseFloat(field3)+parseFloat(field4)+parseFloat(field5))/5;
                        
                        if(!isNaN(result))
                        {
                            document.getElementById("answer").innerHTML="The answer is "+result;
                        }
                    
                    }
                    </script>
                    
                </div>


            </form>
        </div>
    </section>

    <script type="text/javascript" src="static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{%endblock content%}
</body>
</html>
