{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- semantic UI -->
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <!--Chart js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
  <!-- jQuery -->
  

  <title></title>
</head>
<body>

    <br>
    <br>
    <br>
    <center><a href="{{ crear_nota_url }}"id="btnagregar" class="btn_botones">Agregar Nota</a>
        <center><br>
    
    {% for materia in materias %}
    {% comment %} {{mi_materia_antes.id}}
    {{materia.id}} {% endcomment %}
    <br>
    {% if mi_materia_antes.id == materia.id  and crear_animo_antes != 0  %}
        <center><a href="{{ crear_animo_antes }}"id="btnagregar" class="btn_botones">Agregar estado ánimo antes</a>
    {% else %}
    {% endif %}

    <center>

    
    {% if mi_materia_despues.id == materia.id  and crear_animo_despues != 0  %}
    <center><a href="{{ crear_animo_despues }}"id="btnagregar" class="btn_botones">Agregar estado ánimo después</a>
    {% else %}
    {% endif %}    
    {% endfor %}
    
    <div class="row row-cols-1 row-cols-md-3 g-4"> 
        {% for nota in notas %}
        {% if user.is_authenticated and user == nota.user %}
        
        <div v-for="materia in materias" class="col">
            <div class="card"> 
                <div class="card-body"> 
                    <p class="card-text">Nota: {{ nota.nota }}</p>
                    <p class="card-text">Porcentaje: {{ nota.porcentaje }}% </p>
                    <p class="card-text">Descripción: {{ nota.descripcion}}</p>
                    <a id="btnactualizar" class="btn_botones"  href="{% url 'actualizarnota' nota.id %}">Actualizar</a>
                    <a id="btneliminar" class="btn_botones"href="{% url 'eliminarnota' nota.id %}">Eliminar</a>
                    {% comment %} <a class="btn btn-primary me-2" href="{% url 'actualizarnota' user.id materia.id nota.id %}">Actualizar</a>
                    <a class="btn btn-danger" href="{% url 'eliminarnota' nota.id %}">Eliminar</a>  {% endcomment %}
                </div>
            </div>
        </div>
        {% else %}
        <h1>Acceso denegado</h1>
            {% endif %}
            {% endfor %}
        </div>
        
        <br>
        <h3>Tu nota es de: {{ promedioFin }} </h3></center> 
        <br>

{% comment %} ----------------------------------------------------------------------------- {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<center><h1>Gráfico de notas de la materia</h1></center>
<div style="width: 280x; height:350px; display: flex; justify-content: center; align-items: center;">
    <canvas id="graficaNotas"></canvas>
</div>
<script>
    const ctx = document.getElementById('graficaNotas');
    
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{labels|safe}},
            datasets: [{
                label: 'Nota',
                data: {{data|safe}},
                backgroundColor: "#808080",
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: ''
            }
        },
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 5,
                    stepSize: 0.1
                }
            }
        }
    });
</script>

<div class="containter" style="display: flex; width: 100%; height:300px;">
    <center><h1>Ánimo antes</h1></center><br>
    <div class="moodAntes" style="width: 50%; height: 100%; justify-content: center; align-items: center;">
        <canvas id="graficaMoodAntes"></canvas>
    </div>
    
    <center><h1>Ánimo después</h1></center><br>
    <div class="moodDespues" style="width: 50%; height: 100%; justify-content: center; align-items: center;">
        <canvas id="graficaMoodDespues"></canvas>
    </div>
</div>

<script>
        const chartMoodAntes = document.getElementById('graficaMoodAntes');
        new Chart(chartMoodAntes, {
            type: 'bar',
            data: {
                labels: {{labels1|safe}},
                datasets: [{
                    label: 'Mood',
                    data: {{data1|safe}},
                    backgroundColor: "#808080",
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                title: {
                    display: true,
                    text: ''
                }
            },
                scales: {
                    y: {
                        beginAtZero: true,
                        min: 0,
                        max: 5,
                        stepSize: 0.1
                    }
                }
            }
        });
        const chartMoodDespues = document.getElementById('graficaMoodDespues');
        new Chart(chartMoodDespues, {
            type: 'bar',
            data: {
                labels: {{labels1|safe}},
                datasets: [{
                    label: 'Mood',
                    data: {{data2|safe}},
                    backgroundColor: "#808080",
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                title: {
                    display: true,
                    text: ''
                }
            },
                scales: {
                    y: {
                        beginAtZero: true,
                        min: 0,
                        max: 5,
                        stepSize: 0.1
                    }
                }
            }
        });
</script>
{% comment %} ---------------------------------------------------------------------------- {% endcomment %}

        {% if  promedioFin >= 3.0 and  promedioFin  <= 3.5 and sumaPorcentajes < 100 %}
        <script>
            Swal.fire({title: 'Cuidado!',text: 'Llevas la materia en cuidados intensivos con: {{ promedioFin }} , animate , llevas el {{ sumaPorcentajes }}% del curso',icon: 'warning',confirmButtonText: '¡Gracias! 👀'})
            
        </script>
        {% elif promedioFin > 0 and promedioFin < 3.0 and sumaPorcentajes < 100 %}
        <script>
            Swal.fire({title: '¡¡Alerta!!',text: 'Llevas perdiendo la materia con:  {{ promedioFin }} , aún puedes remontar 🫵, llevas el {{ sumaPorcentajes }}% del curso',icon: 'error',confirmButtonText: '¡Gracias! 😣'})
        </script>
        {% elif promedioFin > 0 and promedioFin < 3.0 and sumaPorcentajes == 100 %}
        <script>
            Swal.fire({title: '¡¡Alerta!!',text: 'Nos vemos el otro semestre 😭, sacaste:  {{ promedioFin }} en el 100% del curso ',icon: 'error',confirmButtonText: '¡Gracias! 💩'})
        </script>
        {% elif sumaPorcentajes > 100 %}
        <script>
            Swal.fire({title: 'Error',text: 'Te fallaron las matematicas 🙈, esta materia tiene {{ sumaPorcentajes }}% ; más de 100%',icon: 'question',confirmButtonText:'¡Gracias!'})
        </script>       
        {% endif %}
        
    
    {% endif %}

{% endblock content %}