{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- semantic UI -->
  <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
  <!--Chart js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
  <!-- jQuery -->
  

  <title></title>
</head>
<body>




{% comment %} ----------------------------------------------------------------------------- {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="width: 280x; height:350px; display: flex; justify-content: center; align-items: center;">
    <canvas id="graficaNotas"></canvas>
</div>
<script>
    const ctx = document.getElementById('graficaNotas');
    
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{labels|safe}},
            datasets: [{
                label: 'Nota',
                data: {{data|safe}},
                backgroundColor: "#808080",
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: 'Grafica Materia'
            }
        },
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 5,
                    stepSize: 0.1
                }
            }
        }
    });
</script>
{% comment %} ---------------------------------------------------------------------------- {% endcomment %}


    <center><a href="{{ crear_nota_url }}"class="btn btn-primary">Agregar Nota</a>
        <br>
        <h5>Tu nota es de: {{ promedioFin }} </h5></center> 
        {% if  promedioFin >= 3.0 and  promedioFin  <= 3.5 and sumaPorcentajes < 100 %}
        <script>
            Swal.fire({title: 'Ciudado!',text: 'Llevas la materia en ciudados intensivos con: <bold>{{ promedioFin }} </bold> , animate , llevas el {{ sumaPorcentajes }}% del curso',icon: 'warning',confirmButtonText: 'Gracias! 👀'})
        </script>
        {% elif promedioFin > 0 and promedioFin < 3.0 and sumaPorcentajes < 100 %}
        <script>
            Swal.fire({title: 'Alerta!!',text: 'Llevas la materia perdiendo con:  {{ promedioFin }} , aún puedes remontar 🫵, llevas el {{ sumaPorcentajes }}% del curso',icon: 'error',confirmButtonText: 'Gracias! 😣'})
        </script>
        {% elif promedioFin > 0 and promedioFin < 3.0 and sumaPorcentajes == 100 %}
        <script>
            Swal.fire({title: 'Alerta!!',text: 'Nos vemos el otro semestre 😭, sacaste:  {{ promedioFin }} en el 100% del curso ',icon: 'error',confirmButtonText: 'Gracias! 💩'})
        </script>
        {% elif sumaPorcentajes > 100 %}
        <script>
            Swal.fire({title: 'Error',text: 'Te fallaron las matematicas 🙈, esta materia tiene {{ sumaPorcentajes }}% ; más de 100%',icon: 'question',confirmButtonText:'Gracias!'})
        </script>       
        {% endif %}
    
</div>
<ul class="list-group">
    
    {% for nota in notas %}
    {% if user.is_authenticated and user == nota.user %}
    
    <li class="list-group-item pb-3 pt-3">
        <p class="card-text">Nota: {{ nota.nota }}</p>
        <p class="card-text">Porcentaje: {{ nota.porcentaje }}% </p>
        <p class="card-text">Descripcion: {{ nota.descripcion}}</p>
        <a class="btn btn-primary me-2" href="{% url 'actualizarnota' nota.id %}">Actualizar</a>
        <a class="btn btn-danger" href="{% url 'eliminarnota' nota.id %}">Eliminar</a>
        {% comment %} <a class="btn btn-primary me-2" href="{% url 'actualizarnota' user.id materia.id nota.id %}">Actualizar</a>
        <a class="btn btn-danger" href="{% url 'eliminarnota' nota.id %}">Eliminar</a>  {% endcomment %}

    </li>
    
    {% else %}
    <h1>Acceso denegado</h1>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

{% endblock content %}