{% extends 'base.html'%}
{% block content %}

<h1><center>Perfil<center></h1> 
    <br>
<h2><center>{{user.username}}<center></h2>
{% if user.is_authenticated %}
    <br>
    <center><a href="{% url 'aggperfil' user.id %}" id="btnagregar" class="btn_botones">Agregar Carrera</a>
    
    
    </center>
    <br>
    {% endif %}
    <br>
    {% for carrera in carreras %}
    {% if user.is_authenticated and user == carrera.user %}
    <li class="list-group-item pb-3 pt-3">
    <h5 class="card-title">
    Carrera: {{ carrera.nombreCarrera }} 
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
    Número de semestres: {{ carrera.numSemestresTotales }}</h6>
    <p class="card-text"> Número de créditos {{ carrera.numTotalCreditos}}</p>

    <a id="btneliminar" class="btn_botones"  href="{% url 'delperfil' user.id carrera.id %}">Eliminar</a>
    {% endif %}
    </li>
    <br>
    {% endfor %}
    </ul>


{% endblock content %}