
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registrarse | Promate</title>

    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        {% if messages %}
            {% for message in messages%}
            <div class="notificacion {{message.tags}}">
                {{ message}}
            </div>
            {% endfor %}
        {% endif%}

        <div class="login-box-r">
            <form class="form" method="post">
            <h1>Crea una cuenta</h1>
            
                {% csrf_token %}
                {{form.as_p}}
                <div class="boton">
                    <button type="submit" id="submit" href="login">Registrarse</button>
                </div>
            </form>
        </div>
        {% endblock content %}
    </body>
</html>
